.pageContainer {
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

.layout {
    display: flex;
    flex-direction: row;
    height: 100%; 
}

.toc {
    position: fixed;
    top: 220px;
    left: 0;
    width: 100px; 
    background-color: #f9f9f9;
    border-right: 1px solid #ccc;
    padding: 10px;
    height: calc(100vh - 100px); 
    overflow-y: auto;
    z-index: 10; 
}

.content {
    margin-left: 120px; 
    padding: 20px;
    overflow-y: auto;
    width: calc(100% - 220px); 
    box-sizing: border-box;
    height: 100%; 
}

.toc ul {
    list-style-type: none;
    padding: 0;
}

.toc ul li {
    margin: 5px 0;
}

.toc ul li a {
    text-decoration: none;
    color: #007bff;
}

.toc ul li a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .toc {
        position: fixed;
        top: 180px; 
        left: 0;
        width: 100px; 
        background-color: #f9f9f9;
        border-right: 1px solid #ccc; 
        padding: 10px;
        height: calc(100vh - 100px); 
        overflow-y: auto;
        z-index: 10; 
    }
}
